.delius-regular {
    font-family: "Delius", cursive;
    font-weight: 400;
    font-style: normal;
}

body {
    background: #8e3d10;
    font-family: 'Times New Roman', Times, serif;
}

.object-name {
    color: antiquewhite;
    text-align: center;
    font-size: 40px;
    font-family: "Delius", cursive;
    text-shadow: 2px 2px black;
}

.image-container {
    text-align: center;
    font-size: 15px;
    color: antiquewhite;
    text-shadow: 1px 1px black;
}

.displayimage {
    height: 400px;
    width: auto;
}

.details {
    color: whitesmoke;
    text-align: center;
    background-color: #454411;
    font-size: 15px;
    border: 5px solid black;
    border-radius: 20px;
    text-shadow: 1px 1px black;
}

.info {
    color: antiquewhite;
    text-align: center;
    font-size: 18px;
    text-shadow: 1px 1px black;
}

.thoughts {
    background: black;
    color: antiquewhite;
    border: 5px solid #454411;
    border-radius: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 25px;
}

.question {
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    color: yellowgreen;
    text-shadow: 1px 1px green;
}

button:hover {
    background: #454411;
    border: 10px #8e3d10;
}

.buttons {
    color: white;
    background: #454411;
    font-size: 18px;
}

.imagep {
    text-align: left;
    height: 100px;
    width: auto;
}